/*  your css code here. If applicable */
body{
	background-color:  #f5f5f5;
}
header{
	background-color: #011e29;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	justify-content: space-around;
	margin-left: 20px;
	margin-right: 20px;
	
}

.latest-news-section{
	height: 120px;
	width: 180px;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
	border-radius: 15px;
	text-align: center;
}
.latest-news-section li{
	font-size: 14px;
}
.main-article{
	height:180px;
	width: 250px;
	background-color: white;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
	margin-top: 10px;
	
}
.main-article p{
	font-size: 14px;
}

.pictures{
	background-color: white;
	height:550px;
	width: 200px;
	border-radius: 15px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: column;
	
}
.pictures h3{
	text-align: center;
}
.pictures img{
	height: 120px;
	width:  180px;

	align-self: center;
}